@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

html {
     #background: #35654d !important;
    background: #222 !important;
    overflow: auto;

}

body {
    margin-top: 25px;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background: #222 !important;
}

.content-card {
    background-color: #343434;
    padding: 25px;
    width: 1000px;
    color: #EFEFEF;
    margin: 25px auto 25px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
}

.body-card {
    overflow: auto;
    width: 1000px;
}

.title-main {
    font-size: 72px;
    font-weight: 500;
    margin: 0px;
    text-decoration: underline;
    text-underline-position: under;
}

.title-sub {
    margin: 25px 0px 0px;
    font-size: 19px;
    font-weight: 300;
}

.dropdown-render-card {
    max-height: 85px;
    border: 0.5px #000 solid;
    border-radius: 3px;
    background-color: #FFF;
    padding: 3px;
}

.display-card {
    padding: 4px;
    border: 2px #FFF solid;
    border-radius: 5px;
    background-color: #FFF;
    width: 100px;
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-item {
    width: 72px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 4px;
    margin: 0px;
}

.dropdown-menu > a {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.dropdown-menu > a:hover {
    background-color: #0275d8 !important;
}

.dropdown {
    display: inline-block;
}

.card-table {
    display: block;
    margin: 25px auto;
    width: 900px;
    padding:10px;
    text-align: center;
    border: 5px solid #c09a5f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #2f6b4d;
}

.card-hand {
    display: block;
    margin: 25px 25px;
    width: 350px;
    padding:10px;
    text-align: center;
    border: 5px solid #c09a5f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #2f6b4d;
    float: left;
}

.compute {
    display: block;
    margin-right: 25px;
    width: 520px;
    padding:10px;
    border: 5px solid #c09a5f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     background: #2f6b4d;
    float: right;
    height: 250px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

.form-card {
    display: block;
    margin:10px;
    padding:10px;
}

.choices {
    text-align: center;
}

.choices button {
    margin-left: 5px;
    margin-right: 5px;
}

.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-toggle {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.dropdown-toggle:hover {
    color: #fff;
    background-color: transparent;
    border: none;
}

.dropdown-toggle:focus {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: transparent;
    border: none;
}

.multicard h3 {
    margin-top: 25px;
}

.multicard {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 250px;
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
}

.compute-button {
}

.compute-button-wrapper {
    width: 100%;
    text-align: center;
}

.compute-results {
    margin-top: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;
}

.results-column {
  float: left;
  width: 50%;
}


[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.progress-bar {
    background-color: #fc4903;
}

.compute-results-heading {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

table {
    font-size:12px;
}

.results-button {
    margin-left: 5px;
    margin-right: 5px;
}

.card-dropdown {
    border: 4px solid #454545;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
}

.dropdown-menu.show {
    width: 900px;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
}

.showdown-results {
    text-align: center;
}

.showdown-card {
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 4px;
    box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.2);
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

}

.showdown-title {
    margin-bottom: 10px;
}

.showdown-big-card {
    width: 90px;
}

.showdown-small-card {
    width: 85px;
}

